<p id="notice"><%= notice %></p>

<div class='post'>
  <div class='header'>
    <span class='avatar_image'>
      <%= image_tag 'world_of_engineering_avatar.jpg'%>
    </span>
    <span>
      <%= @user.username %>
    </span>
    <span>
      Follow
    </span>
  </div>
  <div class='body'>
    <%= image_tag 'world_of_engineering.jpg'%>
  </div>
  <div class='actions'>
        <span>
      Likes
    </span>
    <span>
      Comments
    </span>
    <span>
      Bookmark
    </span>
  </div>
  <div class='description'>
    <%= @post.description %>
  </div>
  <div class='comments'>
  comments
  </div>
  <div class='footer'>
  footer
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
