<p id="notice"><%= notice %></p>

<div class='post'>
  <div class='header'>
<<<<<<< HEAD
    <span class='avatar_image'>
      <%= image_tag 'world_of_engineering_avatar.jpg'%>
    </span>
    <span>
=======
    <span>
      Avatar
    </span>
    <span class='username'>
>>>>>>> 34861d09aeed9f6c4eacc51df8064d10036a3591
      <%= @user.username %>
    </span>
    <span>
      Follow
    </span>
  </div>
  <div class='body'>
<<<<<<< HEAD
    <%= image_tag 'world_of_engineering.jpg'%>
  </div>
  <div class='actions'>
        <span>
      Likes
    </span>
    <span>
      Comments
    </span>
    <span>
      Bookmark
    </span>
=======
    <%= image_path 'world_of_engineering.jpg' %>
    <%= image_tag 'world_of_engineering.jpg' %>
    Image
  </div>
  <div>
    <span><%= @post.likes.size %> likes</span>
    <span><%= @post.likers.to_a.uniq  %> likers</span>
    <span>Comment</span>
    <span>Bookmark</span>
>>>>>>> 34861d09aeed9f6c4eacc51df8064d10036a3591
  </div>
  <div class='description'>
    <%= @post.description %>
  </div>
  <div class='comments'>
<<<<<<< HEAD
  comments
  </div>
  <div class='footer'>
  footer
=======
    Comments
>>>>>>> 34861d09aeed9f6c4eacc51df8064d10036a3591
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
